<div id="sidebar">
  <div class="sidebar-scroll">
    <div class="sidebar-content">
      <%= link_to admins_dashboard_path, class: "sidebar-brand" do %>
        <strong>NEETs</strong>Team
      <% end %>
      <div class="sidebar-section sidebar-user clearfix">
        <div class="sidebar-user-avatar">
          <a href="page_ready_user_profile.html">
          <%= image_tag "avatar-default.png" %>
          </a>
        </div>
        <div class="sidebar-user-name"><%= current_admin.name %></div>
        <div class="sidebar-user-links">
          <a href="<%= admins_profile_path current_admin %>"
            data-toggle="tooltip" data-placement="bottom" title="Profile">
               <i class="gi gi-user"></i>
          </a>
          <a href="page_ready_inbox.html" data-toggle="tooltip" data-placement="bottom" title="Messages"><i class="gi gi-envelope"></i></a>
          <a href="#modal-user-settings" data-toggle="modal" class="enable-tooltip" data-placement="bottom" title="Settings"><i class="gi gi-cogwheel"></i></a>
          <a href="login.html" data-toggle="tooltip" data-placement="bottom" title="Logout"><i class="gi gi-exit"></i></a>
        </div>
      </div>
      <ul class="sidebar-nav">
        <li>
          <a href="dashboard" class=" active"><i class="gi gi-stopwatch sidebar-nav-icon"></i>Bảng điều khiển</a>
        </li>
        <li class="sidebar-header">
          <span class="sidebar-header-options clearfix"><a href="javascript:void(0)" data-toggle="tooltip" title="Quick Settings"><i class="gi gi-settings"></i></a></span>
          <span class="sidebar-header-title">Quản trị tài nguyên</span>
        </li>
        <li>
          <a href="#" class="sidebar-nav-menu"><i class="fa fa-angle-left sidebar-nav-indicator"></i><i class="gi gi-parents sidebar-nav-icon"></i>Vai trò trên trang</a>
          <ul>
            <li>
              <a href="#">List</a>
            </li>
            <li>
              <a href="#">Add</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="#" class="sidebar-nav-menu"><i class="fa fa-angle-left sidebar-nav-indicator"></i><i class="gi gi-user sidebar-nav-icon"></i>Quản trị viên</a>
          <ul>
            <li>
              <a href="#">List</a>
            </li>
            <li>
              <a href="#">Add</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="#" class="sidebar-nav-menu"><i class="fa fa-angle-left sidebar-nav-indicator"></i><i class="gi gi-shop sidebar-nav-icon"></i>Chuỗi đại lý</a>
          <ul>
            <li>
              <a href="#">List</a>
            </li>
            <li>
              <a href="#">Add</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="#" class="sidebar-nav-menu"><i class="fa fa-angle-left sidebar-nav-indicator"></i><i class="gi gi-globe_af sidebar-nav-icon"></i>Nhà cung cấp</a>
          <ul>
            <li>
              <%= link_to "Quản lý nhà cung cấp", admins_providers_path %>
            </li>
          </ul>
        </li>
        <li>
          <a href="#" class="sidebar-nav-menu"><i class="fa fa-angle-left sidebar-nav-indicator"></i><i class="gi gi-justify sidebar-nav-icon"></i>Danh mục sản phẩm</a>
          <ul>
            <li>
              <%= link_to "Danh mục sơn && bột trét", admins_catalogs_path %>
            </li>
            <li>
              <%= link_to "Tạo mới danh mục", new_admins_catalog_path %>
            </li>
          </ul>
        </li>
        <li>
          <a href="#" class="sidebar-nav-menu"><i class="fa fa-angle-left sidebar-nav-indicator"></i><i class="gi gi-tint sidebar-nav-icon"></i>Sản phẩm</a>
          <ul>
            <li>
              <a href="#">List</a>
            </li>
            <li>
              <%= link_to "Tạo mới sản phẩm", new_admins_product_path %>
            </li>
          </ul>
        </li>
        <li>
          <a href="#" class="sidebar-nav-menu"><i class="fa fa-angle-left sidebar-nav-indicator"></i><i class="gi gi-justify sidebar-nav-icon"></i>Danh mục tin tức</a>
          <ul>
            <li>
              <%= link_to "Quản lý danh mục tin", admins_categories_path %>
            </li>
            <li>
              <a href="#">Add</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="#" class="sidebar-nav-menu"><i class="fa fa-angle-left sidebar-nav-indicator"></i><i class="gi gi-pencil sidebar-nav-icon"></i>Tin tức</a>
          <ul>
            <li>
              <a href="#">List</a>
            </li>
            <li>
              <a href="#">Add</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="#" class="sidebar-nav-menu"><i class="fa fa-angle-left sidebar-nav-indicator"></i><i class="gi gi-coins sidebar-nav-icon"></i>Báo giá hãng</a>
          <ul>
            <li>
              <a href="#">List</a>
            </li>
            <li>
              <a href="#">Add</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="#" class="sidebar-nav-menu"><i class="fa fa-angle-left sidebar-nav-indicator"></i><i class="gi gi-picture sidebar-nav-icon"></i>Slider quảng cáo</a>
          <ul>
            <li>
              <a href="#">List</a>
            </li>
            <li>
              <a href="#">Add</a>
            </li>
          </ul>
        </li>

        <li class="sidebar-header">
          <span class="sidebar-header-options clearfix"><a href="javascript:void(0)" data-toggle="tooltip" title="Quick Settings"><i class="gi gi-circle_info"></i></a></span>
          <span class="sidebar-header-title">Giới thiệu công ty</span>
        </li>
        <li>
          <a href="subscribles"><i class="gi gi-circle_question_mark sidebar-nav-icon"></i>Thông tin công ty</a>
        </li>

        <li class="sidebar-header">
          <span class="sidebar-header-options clearfix"><a href="javascript:void(0)" data-toggle="tooltip" title="Quick Settings"><i class="gi gi-settings"></i></a></span>
          <span class="sidebar-header-title">Chăm sóc khách hàng</span>
        </li>
        <li>
          <a href="subscribles"><i class="fa fa-envelope-o sidebar-nav-icon"></i>Thư liên hệ</a>
        </li>
      </ul>
    </div>
  </div>
</div>
