<div id="page-content" ng-controller="CatalogsController as vm" ng-init="vm.init()">
  <div class="content-header">
    <div class="header-section">
      <h1>
        <i class="fa fa-tint"></i><%= t ".title" %><br><small></small>
      </h1>
    </div>
  </div>
  <ul class="breadcrumb breadcrumb-top">
    <li><%= link_to "Bảng điều khiển", admins_dashboard_path %></li>
    <li><%= link_to "Danh mục sơn và bột trét", admins_providers_path %></li>
  </ul>
  <div class="block">
    <button class="btn btn-primary" ng-click="vm.openModalCreate()">
      <i class="fa fa-plus"></i> Thêm mới danh sản phẩm
    </button>
    <div class="table-responsive">
      <table class="table table-vcenter table-striped">
        <thead>
          <tr>
            <th class="text-center">Mã số</th>
            <th class="text-center">Tên danh mục</th>
            <th class="text-center">Tên danh mục không dấu</th>
            <th class="text-center">Mã danh mục cha</th>
            <th class="text-center">Thao tác</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="catalog in vm.catalogs track by catalog.id">
           <td class="text-center" ng-bind="catalog.id"></td>
            <td class="text-center" ng-bind="catalog.name"></td>
            <td class="text-center" ng-bind="catalog.slug"></td>
            <td class="text-center" ng-bind="catalog.parent_id"></td>
            <td class="text-center">
              <div class="btn-group">
                <a ng-click="vm.showData(catalog)" data-toggle="tooltip" title="Sửa"
                  class="btn btn-xs btn-default"><i class="fa fa-pencil"></i></a>
                <a ng-click="vm.destroyData(catalog)" data-toggle="tooltip" title="Xóa"
                  class="btn btn-xs btn-danger"><i class="fa fa-times"></i></a>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="row">
      <div class="col-sm-5 hidden-xs">
        <div class="dataTables_info">
          <strong ng-bind="vm.total_items"></strong> <strong>danh mục</strong>
        </div>
      </div>
      <div class="col-sm-7 col-xs-12 clearfix">
        <div class="dataTables_paginate paging_bootstrap" id="example-datatable_paginate">
          <%= ng_pagination "vm.total_items", "vm.params.page", "vm.params.per_page", "vm.refresh()" %>
        </div>
      </div>
    </div>
  </div>
  <%= render "modal_catalogs" %>
</div>
